<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>立项</title>
</head>
<body>
<div class="card mb-4 w-100">
    <div class="card-header">
        <h1>你的立项情况</h1>
        <button type="button" class="btn btn-outline-primary" onclick="addInput()">+</button>
        <button type="button" class="btn btn-outline-success" onclick="saveProjects()">提交</button>
    </div>
    <div id="project-input">
        <div class="input-group input-group-lg mb-3">
            <div class="input-group-prepend selectgroups">
                <button id="rank" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">请选择立项等级
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">院级</a>
                    <a class="dropdown-item" href="#">校级</a>
                    <a class="dropdown-item" href="#">省级</a>
                    <a class="dropdown-item" href="#">国家级</a>
                    <input name="rank[]" type="text" class="form-control" hidden aria-label="projectRank" aria-describedby="basic-remove-btn">
                </div>
            </div>
            <input name="time[]" type="number" class="form-control" placeholder="立项时间" aria-label="projectTime" aria-describedby="basic-remove-btn">
            <input name="project[]" type="text" class="form-control" placeholder="项目名称" aria-label="projectName" aria-describedby="basic-remove-btn">
            <div class="input-group-append">
                <button type="button" class="removeclass btn btn-outline-danger">移除</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("input[name='time[]']").val(new Date().getFullYear());
    });

    function addInput() {

        let input = $("        <div class=\"input-group input-group-lg mb-3\">\n" +
            "            <div class=\"input-group-prepend selectgroups\">\n" +
            "                <button id=\"rank\" class=\"btn btn-outline-secondary dropdown-toggle\" type=\"button\" data-toggle=\"dropdown\" aria-haspopup=\"true\"\n" +
            "                        aria-expanded=\"false\">请选择立项等级\n" +
            "                </button>\n" +
            "                <div class=\"dropdown-menu\">\n" +
            "                    <a class=\"dropdown-item\" href=\"#\">院级</a>\n" +
            "                    <a class=\"dropdown-item\" href=\"#\">校级</a>\n" +
            "                    <a class=\"dropdown-item\" href=\"#\">省级</a>\n" +
            "                    <a class=\"dropdown-item\" href=\"#\">国家级</a>\n" +
            "                    <input name=\"rank[]\" type=\"text\" class=\"form-control\" hidden aria-label=\"projectRank\" aria-describedby=\"basic-remove-btn\">\n" +
            "                </div>\n" +
            "            </div>\n" +
            "            <input name=\"time[]\" type=\"number\" class=\"form-control\" placeholder=\"立项时间\" aria-label=\"projectTime\" aria-describedby=\"basic-remove-btn\">\n" +
            "            <input name=\"project[]\" type=\"text\" class=\"form-control\" placeholder=\"项目名称\" aria-label=\"projectName\" aria-describedby=\"basic-remove-btn\">\n" +
            "            <div class=\"input-group-append\">\n" +
            "                <button type=\"button\" class=\"removeclass btn btn-outline-danger\">移除</button>\n" +
            "            </div>\n" +
            "        </div>");
        $("#project-input").append(input);
        $("input[name='time[]']").val(new Date().getFullYear());
        $('.dropdown-menu a').on('click', function (e) {
            $(this).parent('div').children('input').val($(this).text());
        });
    }

    function saveProjects() {
        let projects = [], times = [], ranks = [];
        $("input[name='project[]']").each(function (index, item) {
            projects[index] = $(this).val();
        });
        $("input[name='time[]']").each(function (index, item) {
            times[index] = $(this).val();
        });
        $("input[name='rank[]']").each(function (index, item) {
            ranks[index] = $(this).val();
        });

        let data = [];
        for (let i = 0; i < projects.length; i++) {
            data[i] = {
                "name": projects[i],
                "time": times[i],
                "rank": ranks[i],
            };
        }

        $.ajax({
            url: "/project/saveStu",
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            data: JSON.stringify({
                "projects": data,
                // 学生学号
                "student": 2,
            }),
            success: function (response) {
                console.log(response);
            },
        });
    }

    $("body").on("click", ".removeclass", function (e) {
        $(this).parent('div').parent('div').remove();
        return false;
    });

    $('.dropdown-menu a').on('click', function (e) {
        $(this).parent('div').children('input').val($(this).text());
    });

</script>
</body>
</html>