<!DOCTYPE html>
<html>
<head>
	<title>在线简历</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<!-- 引入阿里图标库 -->
	<link rel="stylesheet" type="text/css" href="/icon/iconfont.css">
	<!-- 自定义CSS -->
	<link rel="stylesheet" type="text/css" href="/css/studentInformationstyle.css">
	<!-- 移动设备优先 -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script type="text/javascript" src="/js/vue.js"></script>
</head>
<body>

<div class="container" id="root">
	<span id="title" class="d-none"></span>
	<div class="row">
			<div class="container shadow text-center border rounded">
				<div id="title-marquee"></div>
			</div>
		<div class="col-lg-3 mr-auto content rounded padding text-center margin-top">
			<div class="padding">
				<img src="/images/img.jpg" class="logo rounded-circle margin-top">
				<h6 class="margin-top">许元澍</h6>
				<span>2019/计师</span>
			</div>

			<div>
				<span class="text-left border-bottom d-block nav-title">
					<span class="iconfont icon-wodexinxi_jibenxinxi"></span>基本信息
				</span>
				<div class="row">
					<div class="col-5">个人信息</div>
					<div class="col-7">许元澍/男/20岁</div>

					<div class="col-5">籍贯</div>
					<div class="col-7">浙江杭州</div>

					<div class="col-5">导师</div>
					<div class="col-7">赵毓芳</div>
				</div>
			</div>

			<div>
				<span class="text-left border-bottom d-block nav-title">
					<span class="iconfont icon-dianhua "></span>联系方式
				</span>
				<div class="row">
					<div class="col-sm-4">手机号</div>
					<div class="col-sm-8">176-3092-1248</div>
					<div class="col-sm-4">邮箱</div>
					<div class="col-sm-8">1245634367@qq.com</div>
					<div class="col-sm-5">个人课表</div>
					<div class="col-sm-7">
						<a href="">点我直达</a>
					</div>
					<div class="col-sm-5">学习分享</div>
					<div class="col-sm-7">
						<a href="">点我直达</a>
					</div>
				</div>
			</div>

			<div>
				<span class="text-left border-bottom d-block nav-title">
					<span class="iconfont icon-daima"></span>专业技能
				</span>
				<div class="row">
					<div class="col-sm-5">四级成绩</div>
					<div class="col-7">425</div>

					<div class="col-sm-5">六级成绩</div>
					<div class="col-7">425</div>

					<div class="col-sm-5">雅思</div>
					<div class="col-7">暂无</div>

					<div class="col-sm-5">托福</div>
					<div class="col-7">暂无</div>
				</div>


				<div>
					<span class="text-left border-bottom d-block nav-title">
						<span class="iconfont icon-daima"></span>其他模块
					</span>
					<div class="row">
						<div class="col-4">
							<img src="/images/img.jpg" class="demo rounded">
						</div>
						<div class="col-4">
							<img src="/images/img.jpg" class="demo rounded">
						</div>
						<div class="col-4">
							<img src="/images/img.jpg" class="demo rounded">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-8 content rounded padding margin-top">
			<div>
				<span class="text-left border-bottom d-block margin-top nav-title">
					<span class="iconfont icon-daima"></span>自我介绍
				</span>
				<div class="row">
					<div class="c col-sm-5">我叫许元澍，我很可爱</div>
					<div class="c col-sm-7 text-right">2021-04-18</div>
				</div>
			</div>
			
			<div>
				<span class="text-left border-bottom d-block margin-top nav-title">
					<span class="iconfont icon-daima"></span>立项情况
				</span>
				<div class="row">
					<div class="c col-sm-5">运河杯——校级</div>
					<div class="c col-sm-7 text-right">2021-04-18</div>
					<div class="c col-sm-5">运河杯——校级</div>
					<div class="c col-sm-7 text-right">2021-04-18</div>
				</div>
			</div>

			<div>
				<span class="text-left border-bottom d-block margin-top nav-title">
					<span class="iconfont icon-daima"></span>获奖情况
				</span>
				<div class="row">
					<div class="c col-sm-5">很大的奖</div>
					<div class="c col-sm-7 text-right">2021-04-18</div>
					<div class="c col-sm-5">很大的奖</div>
					<div class="c col-sm-7 text-right">2021-04-18</div>
				</div>
			</div>

			<div>
				<span class="text-left border-bottom d-block margin-top nav-title">
					<span class="iconfont icon-daima"></span>任职情况
				</span>
				<div class="row">
					<div class="c col-sm-5">文体</div>
					<div class="c col-sm-7 text-right">2021-04-18</div>
					<div class="c col-sm-5">文体</div>
					<div class="c col-sm-7 text-right">2021-04-18</div>
				</div>
			</div>

		</div>
	</div>

</div>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.6.0.js"></script>

<script type="text/javascript">
	//html实现打字特效
	function typeFont(){
		var index = 0;
		var word = document.getElementById('title').innerHTML
		function font(){
			document.getElementById('title-marquee').innerText = word.substring(0,index++);
		}
		setInterval(font,100)
	}
</script>
<script type="text/javascript">
	Vue.config.productionTip = false//阻止 vue 在启动时生成生产提示。
	new Vue({
		el:'#root',
		data:{


			}
	})

</script>
</body>
</html>