<!DOCTYPE html>
<html>
<head>
	<title>学生简历</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/js/jquery-3.6.0.js">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<!-- 引入阿里图标库 -->
	<link rel="stylesheet" type="text/css" href="/icon/iconfont.css">
	<!-- 自定义CSS -->
	<link rel="stylesheet" type="text/css" href="/css/studentInformationstyle.css">
	<!-- 移动设备优先 -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script type="text/javascript" src="/js/vue.js"></script>
	<script src="/js/axios.min.js"></script>
</head>
<body>
<div class="container" id="root">
	<span id="title" class="d-none"></span>
	<div class="row">
			<div class="container shadow text-center border rounded">
				<div id="title-marquee"></div>
			</div>
		<div class="col-lg-3 mr-auto content rounded padding text-center margin-top">
			<div class="padding">
				<img src="/images/img.jpg" class="logo rounded-circle margin-top">
				<h6 class="margin-top">{{name}}</h6>
				<span>{{sgrade}}/{{sclass}}</span>
			</div>

			<div>
				<span class="text-left border-bottom d-block nav-title">
					<span class="iconfont icon-wodexinxi_jibenxinxi"></span>基本信息
				</span>
				<div class="row">
					<div class="col-5">个人信息</div>
					<div class="col-7">{{name}}/{{sex}}/{{age}}岁</div>

					<div class="col-5">籍贯</div>
					<div class="col-7">{{nativePlace}}</div>

					<div class="col-5">导师</div>
					<div class="col-7">{{tutor}}</div>
				</div>
			</div>

			<div>
				<span class="text-left border-bottom d-block nav-title">
					<span class="iconfont icon-dianhua "></span>联系方式
				</span>
				<div class="row">
					<div class="col-sm-4">手机号</div>
					<div class="col-sm-8">{{phoneNumber}}</div>
					<div class="col-sm-4">邮箱</div>
					<div class="col-sm-8">{{email}}</div>
					<div class="col-sm-5">个人课表</div>
					<div class="col-sm-7">
						<a href="">点我直达</a>
					</div>
					<div class="col-sm-5">学习分享</div>
					<div class="col-sm-7">
						<a href="">点我直达</a>
					</div>
				</div>
			</div>

			<div>
				<span class="text-left border-bottom d-block nav-title">
					<span class="iconfont icon-daima"></span>专业技能
				</span>
				<div class="row">
					<div class="col-sm-5">四级成绩</div>
					<div class="col-7">{{cet4}}</div>

					<div class="col-sm-5">六级成绩</div>
					<div class="col-7">{{cet6}}</div>

					<div class="col-sm-5">雅思</div>
					<div class="col-7">暂无</div>

					<div class="col-sm-5">托福</div>
					<div class="col-7">暂无</div>
				</div>


<!--				<div>-->
<!--					<span class="text-left border-bottom d-block nav-title">-->
<!--						<span class="iconfont icon-daima"></span>其他模块-->
<!--					</span>-->
<!--					<div class="row">-->
<!--						<div class="col-4">-->
<!--							<img src="/images/img.jpg" class="demo rounded">-->
<!--						</div>-->
<!--						<div class="col-4">-->
<!--							<img src="/images/img.jpg" class="demo rounded">-->
<!--						</div>-->
<!--						<div class="col-4">-->
<!--							<img src="/images/img.jpg" class="demo rounded">-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
			</div>
		</div>
		<div class="col-lg-8 content rounded padding margin-top">
			<div>
				<span class="text-left border-bottom d-block margin-top nav-title">
					<span class="iconfont icon-daima"></span>自我介绍
				</span>
				<div class="row">
					<div class="c col-sm-5">{{introduction}}</div>
				</div>
			</div>
			
			<div>
				<span class="text-left border-bottom d-block margin-top nav-title">
					<span class="iconfont icon-daima"></span>立项情况
				</span>
				<div class="row" v-for="(project,index) in projects" :key="project.id">
						<div class="c col-sm-5">{{project.name}}-----{{project.ranking}}</div>
						<div class="c col-sm-7 text-right">{{project.time}}</div>
				</div>
			</div>

			<div>
				<span class="text-left border-bottom d-block margin-top nav-title">
					<span class="iconfont icon-daima"></span>获奖情况
				</span>
				<div class="row" v-for="(achievement,index) in achievements" :key="achievement.id">
					<div class="c col-sm-5">{{achievement.name}}-----{{achievement.ranking}}</div>
					<div class="c col-sm-7 text-right">{{achievement.semester}}</div>
					<div class="c col-sm-5">{{achievement.introduction}}</div>
				</div>
			</div>

			<div>
				<span class="text-left border-bottom d-block margin-top nav-title">
					<span class="iconfont icon-daima"></span>任职情况
				</span>
				<div class="row">
					<div class="c col-sm-5">文体</div>
					<div class="c col-sm-7 text-right">2021-04-18</div>
					<div class="c col-sm-5">文体</div>
					<div class="c col-sm-7 text-right">2021-04-18</div>
				</div>
			</div>

		</div>
	</div>

</div>


<script type="text/javascript">
	//html实现打字特效
	function typeFont(){
		let index = 0;
		let word = document.getElementById('title').innerHTML
		function font(){
			document.getElementById('title-marquee').innerText = word.substring(0,index++);
		}
		setInterval(font,100)
	}
</script>
<script type="text/javascript">
	Vue.config.productionTip = false//阻止 vue 在启动时生成生产提示。
	new Vue({
		el:'#root',
		data:{
				"name":"许元澍",
				"sex":"男",
				"age":"20",
				"sgrade":"2019级",
				"sclass":"计师19",
				"nativePlace":"浙江杭州",
				"tutor":"赵毓芳",
				"phoneNumber":"176-3092-1248",
				"email":"1245634367@qq.com",
				"cet4":"425",
				"cet6":"425",

				"introduction":"我叫许元澍，我很可爱",
				"projects":[
					{"id":"1","name":"运河杯","ranking":"校级","time":"2021-04-18"},
					{"id":"2","name":"大创","ranking":"国家级","time":"2021-05-18"},
				],
				"achievements":[
					{"id":"1","name":"大物竞赛省一","ranking":"省级","introduction":"这是一个很大的奖","semester":"2020-01"},
					{"id":"2","name":"高数竞赛省一","ranking":"省级","introduction":"这是另一个很大的奖","semester":"2020-02"},
				]
			},
		mounted(){
			this.getInfo()
		},
		methods:{
			getInfo:function(){
				let that = this;
				axios.post('/queryStudentInfo')
					.then(function(response) {
						let result = response;
						if (result.status == 200) {
							that.name = result.data.name;
							that.sex = result.data.sex;
							that.age = result.data.age;
							that.sgrade = result.data.age;
							that.sclass = result.data.sclass;
							that.nativePlace = result.data.nativePlace;
							that.tutor = result.data.tutor;
							that.phoneNumber = result.data.phoneNumber;
							that.email = result.data.email;
							that.cet4 = result.data.cet4;
							that.cet6 = result.data.cet6;
							that.introduction = result.data.introduction;
							that.projects = result.data.projects;
							that.achievements = result.data.achievements;
						}
					})
					.catch(function(error) {
						console.log("学生信息查询失败");
					});
			},
		},

	})

</script>
</body>
</html>