<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="container">
    </div>

    <script>
        $(function () {
            $.ajax({
                url: "/queryClassStudent",
                type: "Get",
                contentType: "application/json;charset=UTF-8",
                success: function (response) {
                    console.log(response)
                    //stringify()用于从一个对象解析出字符串
                    let jsonData = JSON.stringify(response);
                    jQuery.each(JSON.parse(jsonData), function(i,student){
                        $('#container').html("<p><a class='studentDetail' href='#' data-studentid='"+student.id+"'>" + student.name + "</a></p>")
                    })
                },
                error: function () {
                    console.log("加载班级学生失败")
                },
            })

            $('#container').on('click','.studentDetail',function (e) {
                $('#container').load('/seeStudentInformation',{"studentid":$(this).data("studentid")})
            })


        })
    </script>
</body>
</html>