<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/css/styles.css" />

</head>
<body>
<div class="container-fluid">
    <h1 class="mt-4">教师端首页</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">教师端首页</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">四六级情况</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">立项情况</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">班级学生情况</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">课表空闲情况</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-chart-area mr-1"></i>学生立项情况总览</div>
                <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>月度活动参与情况</div>
                <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/plugin/js/jquery-3.6.0.js"></script>

<script type="text/javascript" src="/plugin/js/fontawesome.min.js"></script>
<script type=“text/javascript” src="/plugin/bootstrap-4.6.0-dist/js/bootstrap.bundle.js"></script>


<script type="text/javascript" src="/plugin/datatables/DataTables-1.11.3/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/plugin/datatables/DataTables-1.11.3/js/dataTables.bootstrap4.min.js"></script>

<script type="text/javascript" src="/plugin/js/Chart.min.js"></script>
<script type="text/javascript" src="/teacher/assets/demo/chart-area-demo.js"></script>
<script type="text/javascript" src="/teacher/assets/demo/chart-bar-demo.js"></script>
<script type="text/javascript" src="/teacher/assets/demo/datatables-demo.js"></script>

</body>
</html>