<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<script type="text/javascript" src="https://unpkg.com/@popperjs/core@2"></script>
<script type="text/javascript" src="/plugin/datatables/DataTables-1.11.3/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/plugin/datatables/DataTables-1.11.3/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="/plugin/bootstrap-4.6.0-dist/js/bootstrap.bundle.js"></script>
<body>
<div>
	<div class="card-header text-center">
		<h2>班级学生查询</h2>
	</div>
	<div class="card mb-4">
		<div class="card-body">
			<div class="row">
				<div id="ages" class="dropdown col-3 offset-1">
					<button class="btn btn-secondary dropdown-toggle col-10" type="button"
							id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">
						选择年级
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">2019</a>
						<a class="dropdown-item" href="#">2020</a>
						<a class="dropdown-item" href="#">2021</a>
					</div>
				</div>
				<select id="classname" class="form-select col-2 offset-1" disabled
						aria-label="Default select example">
					<option selected>请选择班级</option>
					<option value="计师19">计师19</option>
					<option value="教技19">教技19</option>
					<option value="机师19">机师19</option>
				</select>
				<button id="queryClassStudent" class="btn btn-info col-2 offset-1">查询</button>
			</div>
		</div>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				<thead>
				<tr>
					<th>入学年份</th>
					<th>学生班级</th>
					<th>学生学号</th>
					<th>学生姓名</th>
				</tr>
				</thead>
				<tbody id="table-content">

				</tbody>
			</table>
		</div>
	</div>
</div>
<script>

	$(function () {
		let datalanguage={
			"sProcessing": "处理中...",
			"sLengthMenu": "显示 _MENU_ 项结果",
			"sZeroRecords": "没有匹配结果",
			"sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
			"sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
			"sInfoFiltered": "(由 _MAX_ 项结果过滤)",
			"sInfoPostFix": "",
			"sSearch": "搜索:",
			"sUrl": "",
			"sEmptyTable": "班级学生名单为空",
			"sLoadingRecords": "载入中...",
			"sInfoThousands": ",",
			"oPaginate": {
				"sFirst": "首页",
				"sPrevious": "上页",
				"sNext": "下页",
				"sLast": "末页"
			},
			"oAria": {
				"sSortAscending": ": 以升序排列此列",
				"sSortDescending": ": 以降序排列此列"
			}
		}
		$('#dataTable').DataTable({language:datalanguage});
		$.ajax({
			url: "/sgrade/getAllGrade",
			type: "GET",
			success: function (response) {
				$('#ages .dropdown-menu').html('');
				response.data.forEach(function (age) {
					$('#ages .dropdown-menu').append("<a class='dropdown-item' href='#'>" + age + "</a>")
				})
				// chart.hideLoading();
			},
			error: function (response) {
				console.log("加载年级失败")
				// chart.hideLoading();
			},
		});
		$('#ages ').on('click', '.dropdown-item', function () {
			let grade = $(this).text();
			$.ajax({
				url: '/sgrade/getClassByGrade',
				data: {
					"grade": grade
				},
				type: 'GET',
				contentType: "application/json;charset=UTF-8",
				success: function (response) {
					$('#classname').html("<option selected>请选择班级</option>");
					response.data.forEach(function (classname) {
						$('#classname').append(
								'<option value="' + classname + '">' + classname + '</option>'
						)
					})
					$('#ages button').first().text(grade);
					$('select').attr('disabled', false)
				},
				error: function () {
					console.log('班级加载失败!');
					$('select').attr('disabled', false);
				}
			})
		});

		$('#queryClassStudent').click(function (){
			let className = $('#classname').val()
			console.log(className)
			$.ajax({
				url:"/queryClassStudent",
				data:JSON.stringify({"className":className}),
				type:"POST",
				contentType: "application/json;charset=UTF-8",
				success: function (response) {
					$('#table-content').html("");
					//let studentHtml = ""
					// response.forEach(function (student) {
					// 	studentHtml+=
					// 			"<tr>\n" +
					// 			"<td>" + student.sgrade + "</td>\n" +
					// 			"<td>" + student.sclass + "</td>\n" +
					// 			"<td>" + student.snumber + "</td>\n" +
					// 			"<td><a class='studentDetail' href='#' data-studentid='"+student.id+"'>" + student.sname + "</a></td>\n" +
					// 			"</tr>"
					// });
					// $("#dataTable tbody").first().html(studentHtml)
					// $("#dataTable").dataTable()
					drawTable(response)
				},
				error: function (response) {
					console.log("加载班级学生 error!");
				},
			});

		});
		function drawTable(array_map){
			let table = `<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>入学年份</th>
                        <th>学生班级</th>
                        <th>学生学号</th>
                        <th>学生姓名</th>
                    </tr>
                    </thead>
                    <tbody id="table-content">`
			array_map.forEach(function (item) {
				table += `<tr><td>${item.sgrade}</td><td>${item.sclass}</td><td>${item.snumber}</td><td><a class='studentDetail' href='#' data-studentid='${item.sid}'>${item.sname}</a></td></tr>`
			})
			table +=`</tbody></table>`
			$('.table-responsive').first().html(table)

			$('#dataTable').DataTable({language:datalanguage})
		}

		$('#container').on('click','.studentDetail',function (e) {
			console.log($(this).data("studentid"))
			$('#container').empty().load('/seeStudentInformation',{"studentid":$(this).data("studentid")})
		})

	})
</script>

</body>
</html>